<section class="form_login">
    <h1 class="title">Faça seu Login TOTVS</h1>
    <img src="assets/images/logo-totvs-rs.png" class="image_login" alt="Logo TOTVSRS"/>

    <div class="box_login">
        <label for="email" class="label">
            Email
        </label><br/>
        <input type="email" id="email" class="input" placeholder="Ex.: voce@email.com" required autofocus />
    </div>

    <div class="box_login">
        <label for="password" class="label">
            Senha
        </label><br/>
        <input type="password" id="password" class="input" placeholder="Coloque sua senha" min="8" required />
    </div>

    <div class="box_button">

        <button class="button button_entra">Entrar</button>

        <a href="#register">
            <button type="button" class="button button_cadastro">Cadastre-se</button>
        </a>
    </div>
</section>