<div id="dashboardContent">
  <div id="dashboardCard">
    <div id="addTodoButtonContainer">
      <button id="addTodoButton">Nova Tarefa</button>
    </div>
    <div id="todosTableContainer">
      <table id="todosTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Data</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123456</td>
            <td>Nome da Tarefa</td>
            <td>25/02/2020</td>
            <td>Em andamento</td>
          </tr>
          <tr>
            <td>123456</td>
            <td>Nome da Tarefa</td>
            <td>25/02/2020</td>
            <td>Em andamento</td>
          </tr>
          <tr>
            <td>123456</td>
            <td>Nome da Tarefa</td>
            <td>25/02/2020</td>
            <td>Em andamento</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="createTodoModalContainer">
  <div id="createTodoModal">
    <h2>Criar nova tarefa</h2>
    <form action="submit" id="createTodoForm">
      <label for="todoTitle">Título</label>
      <input type="text" id="todoTitle">
      <fieldset>
        <legend>Status</legend>
        <input type="radio" name="status" id="backlogRadio" value="0">
        <label for="backlogRadio">Backlog</label><br>
        <input type="radio" name="status" id="ongoingRadio" value="1">
        <label for="ongoingRadio">Em andamento</label><br>
        <input type="radio" name="status" id="finishedRadio" value="2">
        <label for="finishedRadio">Finalizado</label>
      </fieldset>

    </form>
  </div>
</div>
