<div class="row justify-content-md-center">
    <div class="col-sm-4">
        <h1>Autenticação</h1>
        <div class="alert alert-primary d-none" id="loginAlert">
            Email ou senha não correspondem ao cadastro.
        </div>
        <div class="card">
            <div class="card-body">
                <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite email">
                    <small id="emailHelp" class="form-text d-none text-danger">Email obrigatório.</small>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Digite senha">
                    <small id="senhaHelp" class="form-text d-none text-danger">Senha obrigatório.</small>
                </div>
                <button id="btnAcessar" type="submit" class="btn btn-primary">Acessar</button>
                </form>
            </div>
        </div>
    </div>    
</div>
<script src="./assets/js/login.js"></script>
<script src="./assets/js/user.js"></script>
