<div id="signInContent">
  <div id="signInCard">
    <h1>Login</h1>
    <p id="greetingText">Para acessar a plataforma é necessário fazer login.</p>
    <form action="submit" id="signInForm">
      <label for="userEmailInput">
        <div class="labelContainer">
          <img src="/images/fi-mail.svg" alt="">
          E-Mail
        </div>
      </label>
      <input type="email" name="userEmail" id="userEmailInput" placeholder="fulano@teste.com" required >
      <label for="userPasswordInput">
        <div class="labelContainer">
          <img src="/images/fi-lock.svg" alt="">
          Senha
        </div>
      </label>
      <input type="password" name="userPassword" id="userPasswordInput" required minlength="6" maxlength="16">
      <input type="submit" value="Entrar" id="submitButton">

    </form>
    <p id="logInText">Não tem uma conta? <a href="" id='signUpPageLink'>Clique aqui para fazer criar a sua!</a></p>
  </div>

</div>
