div#dashboardContent {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div#dashboardCard {
  background: #F4F4F4;
  border-radius: 10px;
  margin-top: 10vh;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 90%;
  min-height: 70vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#addTodoButton {
  display: block;
  padding: 0.5rem 1rem;
  min-height: 50px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  background: #33A2F3;
  color: #fff;
  margin-bottom: 2rem;

  transition: all 0.2s;
}

#addTodoButton:hover {
  background: #4fb6ff;
}

#todosTable{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

#todosTable thead{
  font-size: 16px;

}

#todosTable thead tr{
  background-color: #33A2F3;
  text-align: left;
  font-weight: bold;
  color: #fff

}

#todosTable th,
#todosTable td {
  padding: 12px 15px;
}

#todosTable tbody tr {
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
}

#todosTable tbody tr:last-of-type {
  border-bottom: 2px solid #33A2F3;
}

#todosTable tbody{
  font-size: 14px;
}

#createTodoModalContainer,
#updateTodoModalContainer {
  position:fixed;
  width:100%;
  height:100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

#createTodoModalContainer.active,
#updateTodoModalContainer.active {
  visibility: visible;
  opacity: 1;
}


#createTodoModal,
#updateTodoModal
{
  background: #F4F4F4;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
}

#createTodoFields,
#updateTodoFields
{
  width: 100%;
  padding: 1.5rem;
}

#createTodoFields h2,
#updateTodoFields h2
{
  font-size: 32px;
  text-align: center;
  margin-bottom: 1rem;
}

#todoTitleLabel,
#todoDescriptionLabel,
legend {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: block;

}

#createTodoForm input[type="text"],
#updateTodoForm input[type="text"]
{
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#createTodoForm textarea,
#updateTodoForm textarea {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  resize: none;
}


#createTodoForm input[type="radio"],
#updateTodoForm input[type="radio"] {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#buttonsContainer
{
  display: grid;
  grid-template-rows: 1fr;

  width: 100%;
  height: 10%;
}

#createTodoModal #buttonsContainer {
  grid-template-columns: 1fr 1fr;
}
#updateTodoModal #buttonsContainer {
  grid-template-columns: 1fr 1fr 1fr;
}

#buttonsContainer input[type="submit"],
#buttonsContainer button#cancelCreateButton,
#buttonsContainer button#cancelUpdateButton,
#buttonsContainer button#deleteTodoButton
 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

#buttonsContainer input[type="submit"] {
  background: #7dd867;

}

#buttonsContainer button#cancelCreateButton,
#buttonsContainer button#cancelUpdateButton {
  background: #d9db5e;
}

#buttonsContainer button#deleteTodoButton {
  background: #db5e5e;

}




