$background-color : #fff;
$box-shadow:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

input {
    width: 90%;
}

input[type=text], input[type=password] {
    background-color: $background-color;
    border-radius: 8px;
    border: none;
    box-shadow: $box-shadow;
    height: 30px;
    margin: 10px;
    width: 90%;
    padding-left: 10px;
}

input[type=submit] {
    background-color: $background-color;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: $box-shadow;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    cursor: pointer;
    &:hover {
        background-color: #f6f6f6;
    }
}

input[type=radio] {
    background-color: $background-color;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    border: 1px solid black;
    &:checked {
        
        border: 5px solid black;
    }
}
