.modal{
    .modalAtividade{
        max-width: 600px;

        @media(max-width: 768px){
            max-width: 260px;

            h2{
                font-size: 18px;
            }
        }

        input,textarea{
            display: block;
            max-width: 420px;
            width: 100%;
            margin: 0 auto 20px;
            border-radius: 0;

            @media(max-width: 768px){
                max-width: 220px;
                margin: 10 auto;
            }
        }

        textarea{
            padding: 10px;
            resize: none;
        }

        .formRow{
            max-width: 442px;
            margin: 0 auto;

            @media(max-width: 768px){
                max-width: 242px;
            }
        }

        [name=status], [name=date]{
            float: left;
            width: 47%;
            padding: 10px;

            @media(max-width: 768px){
                font-size: 11px;
            }
        }

        [name=status]{
            height: 42px;
            border-radius: 0;
            width: 45.7%;
            margin-left: 10px;

            @media(max-width: 768px){
                width: 39.7%;
            }
        }

        .btns-box{
            display: flex;

            &::after{
                display: table;
                content: "";
                clear: both;
            }

            @media(max-width: 768px){
                max-width: 242px;
                margin: 0 auto;
                display: block;

                .btn{
                    margin: 0;
                    font-size: 12px;  
                    max-width: 116px;

                    &.btn-cancelar{
                        margin-right: 5px;
                    }

                    &.btn-salvar{
                        margin-left: 5px;
                    }

                    &.btn-excluir{
                        float: none;
                        margin: 0 auto;
                        position: relative;
                        top: 10px;
                    }
                }
            }
        }
    }
}