<div id="signUpContent">
  <form action="" id="signUpForm">
    <label for="userName">
      <div class="labelContainer">
        <img src="" alt="">
        Nome
      </div>
    </label>
    <input type="text" name="userName" id="userNameInput" placeholder="Seu nome">
    <label for="userEmail">
      <div class="labelContainer">
        <img src="" alt="">
        E-Mail
      </div>
    </label>
    <input type="email" name="userEmail" id="userEmailInput">
    <label for="userPassword">
      <div class="labelContainer">
        <img src="" alt="">
        Senha
      </div>
    </label>
    <input type="password" name="userPassword" id="userPasswordInput">
  </form>
</div>
