<div id="signUpContent">
  <div id="signUpCard">
    <h1>Crie sua conta</h1>
    <strong>Para acessar a plataforma é necessário criar a sua conta</strong>
    <form action="submit" id="signUpForm">
      <label for="userName">
        <div class="labelContainer">
          <img src="" alt="">
          Nome
        </div>
      </label>
      <input type="text" name="userName" id="userNameInput" placeholder="Fulano da Silva">
      <label for="userEmail">
        <div class="labelContainer">
          <img src="" alt="">
          E-Mail
        </div>
      </label>
      <input type="email" name="userEmail" id="userEmailInput" placeholder="fulano@teste.com">
      <label for="userPassword">
        <div class="labelContainer">
          <img src="" alt="">
          Senha
        </div>
      </label>
      <input type="password" name="userPassword" id="userPasswordInput">
      <input type="submit" value="Criar Conta">
    </form>
  </div>

</div>
