/*
*   CSS do component header
*/
nav{
    position: absolute;
}
nav ul{
    display: inline;
}

nav ul li{
    display: inline;
    margin: 0 0 0 15px;
}

li:hover{
    cursor: pointer;
}

.image {
    width: 10rem;
    margin: 2rem;
}

.header {
    position: relative;
}

.button_session{
    background-color: transparent;
    color: #000000;
    border: none;
}