@charset "utf=8";
* {
    color: #333;
}


/*the table*/

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    text-align: left;
}


/*the table's rows(lines)*/

td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    font-weight: normal;
}


/*the row's title cell*/

.titleClickable {
    cursor: pointer;
    color: #0000EE;
    text-decoration: underline;
}

.titleClickable:hover {
    font-weight: bold;
}


/*the table's head*/

.thead {
    text-align: center;
    background-color: lightgray;
    font-weight: bold;
}


/*class to align the text to center*/

.textCenter {
    text-align: center;
}


/*
tr:nth-child(even) {
    background-color: gray;
}
*/