$backgroundcolor : #fff;

#createTodoContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    padding: 1.5rem;
    background-color: $backgroundcolor;
    box-sizing: content-box;
    #createTodoForm{
        h1{
            display: flex;
            justify-content: center;
        }
        background-color: $backgroundcolor;
        label {
            display: block;
            background-color: $backgroundcolor;
            margin: 2rem 0rem 0.3rem 1rem;
        }
        input[type=text], textarea {
            width: 90%;
        }
    }
    #createStatus{
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        background-color: $backgroundcolor;
        margin-top: 1rem;
        label {
            padding: 0;
            margin: 1rem 0.5rem 0.2rem 1rem;
        }
    }
    #submitCreateTodo{
        background-color: $backgroundcolor;
        width: 100%;

        input[type=submit] {
            width: 100%;
            margin: 1rem 0 0 0;
        }
    }

    @media (min-width: 600px) {
        width: 50%;
        
        #submitCreateTodo{
            input[type=submit] {
                width: 100%;
                margin: 1rem 0 0 0;
            }
        }
    }

    @media (min-height: 1025px) {
        width: 35%;
        height: 45%;
        #submitCreateTodo{
            input[type=submit] {
                width: 100%;
                margin: 2rem 0 0 0;
            }
        }
    }

}